{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Earvin Gemenez | Curriculum Vitae</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Earvin Gemenez Resume">
    <meta name="author" content="Earvin Gemenez">
    <!-- Le styles -->
    <link href="{% static 'resume/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'resume/style.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Fallback for NoScript -->
    <noscript>
    <style type="text/css">
     body {
        display: block;
     }
    </style>
    </noscript>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
  </head>

  <body style="display: block;">
        <section class="container">

            <!-- Header -->
            <header class="row-fluid">
                <div class="title span7">
                    <img src="{% static 'resume/profile.jpg' %}" title="That`s me!" alt="My Profile">
                    <h1>Jan Earvin Gemenez</h1>
                    <h2>Software Developer</h2>
                </div>
                <div class="social offset1 span4">
                    <ul>
                        <li><i class="icon-home"></i> Horseshoe drive, Bajada</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Davao City, Philippines</li>
                        <li><i class="icon-envelope-alt"></i> earvin.gemenez@gmail.com</li>
                        <li><i class="icon-phone"></i> +63 917 701 7405</li>
                        <li>
                            <a href="http://www.twitter.com/tomomoii" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/earvin.gemenez" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/earvingemenez" target="_blank"><i class="fa fa-github"></i></a>
                            <a href="http://ph.linkedin.com/in/tomomoi" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="http://www.tomomoi.com" target="_blank"><i class="fa fa-code"></i></a>
                        </li>
                    </ul>
                </div>
            </header>

            <!-- Welcome Text -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Hello!</h3>
                </header>
                <div class="span9 ">
                    <p class="welcome">”With regard to excellence, it is not enough to know, but we must try to have and use it.” <br>
                    </p><p class="auth"> <i>Aristotle</i>  </p>
                </div>
            </article>

            <!-- Skills -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Skills</h3>
                </header>
                <div class="span9">
                    <div class="row-fluid skills">
                        <ul class="span6">
                        {% for skill in skills %}
                            {% if forloop.counter == 20 %}
                            </ul>
                            <ul class="span6">
                            {% else %}
                                <li><strong><a href="#">{{ skill.name }}</a></strong></li>
                            {% endif %}
                        {% endfor %}
                        </ul>

                    </div>
                </div>
            </article>

            <!-- Work -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Work Experience</h3>
                </header>
                <div class="span9">
                    {% for work in timeline %}
                        <h4>{{ work.name }} ({{ work.year }})</h4>
                        <h5>{{ work.job_title }}</h5>
                        <p>{{ work.description }}</p>
                    {% endfor %}
                </div>
            </article>

            <!-- Education -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Education</h3>
                </header>
                <div class="span9">
                    {% for edu in education %}
                    <h4>{{ edu.school }}</h4>
                    <h5>{{ edu.year }}</h5>
                        {% if edu.course %}
                        <p>{{ edu.course }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </article>

            <!-- Interests -->
            <article class="row-fluid">
                <header class="span3">
                    <h3>Interests / Activities</h3>
                </header>
                <div class="span9">
                    {% for interest in interests %}
                    <h4>{{ interest.name }}</h4>
                    <p>{{ interest.description }}</p>
                    {% endfor %}
                </div>
            </article>

            <!-- Footer -->
            <footer>
                © 2014 Jan Earvin Gemenez&nbsp;&nbsp;&nbsp;
                <a href="javascript:;" onclick="javascript:window.print();">Print</a> | <a href="#top">To top <i class="icon-arrow-up"></i></a>

            </footer>
    </section>

<script src="resume/jquery.js"></script>
<script src="resume/main.js"></script>



</body></html>